.section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: #343253;
  width: auto;
  height: 900px;
}
.title {
  margin-bottom: 100px;
  padding-top: 20px;
  margin-right: 70px;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.logo-img {
  width: 130px;
  height: 130px;
  transition: opacity 0.3s ease;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 85px;
  align-items: flex-start;
  justify-content: center;
}

.service-card {
  width: 400px;
  height: 270px;
  border-radius: 30px;
  background-color: #242339;
  cursor: pointer;
  /* padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 90px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: 0.5s;
  text-align: center;
}
.service-card h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.service-card:hover {
  transform: translateY(-7px);
  background-color: #fff;
}
.service-card:hover h1 {
  color: #242339;
}
.service-card:hover .logo-img {
  color: #242339;
}

@media (max-width: 400px) {
  .section {
    height: 1500px;
  }
  .title {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
  }

  .services {
    gap: 20px;
  }

  .service-card {
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    height: auto;
  }

  .service-card h1 {
    font-size: 20px;
  }

  .logo-img {
    width: 70px;
    height: 70px;
  }
}
