@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

header {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  /* justify-content: space-between; */
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3;
  border-radius: 25px;
  gap: 60px;
  box-shadow: rgba(152, 117, 164, 0.484) 0px 2px 13px 0px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.logo-imgh {
  width: 130px;
  height: 130px;
  padding-right: 40px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-bar ul li {
  transition: 0.1s;
}
.nav-bar ul li a {
  transition: 0.5s;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  transition: 0.5s;
  color: #ffffff;
}
.nav-bar ul li a:hover {
  font-size: 25px;
}
.nav-bar li {
  margin: 0 10px;
}

.menu-button {
  padding: 5px 10px;
  margin-left: 20px;
  display: none;
  font-size: 40px;
  border: none;
  transition: 0.5s;
  background: none;
  color: #fff;
}
.menu-button:hover {
  color: #d3c4d6;
  font-size: 35px;
}

@media (max-width: 1200px) {
  header {
    justify-content: space-between;
    width: 50%;
  }
  .menu-button {
    display: block;
  }
  .nav-bar {
    display: none;
  }
}

@media (max-width: 400px) {
  header {
    width: 70%;
    border-radius: 15px;
    top: 20px;
  }

  .logo-imgh {
    width: 50px;
    height: 50px;
    padding-right: 10px;
  }

  .menu-button {
    font-size: 20px;
    margin-left: 5px;
  }
}
