.section3 {
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: #343253;
  width: auto;
  height: 900px;
}
.faqs-container {
  width: 70%;
  margin: 20px auto;
  text-align: right;
}

.faq-item {
  border-bottom: 3px solid #dedede;
  padding: 20px 0;
  cursor: pointer;
}

.faq-question {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}

.faq-answer {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  margin-top: 20px;
}

@media (max-width: 400px) {
  .section3{
  height: 700px;
  }
  .faqs-container {
    width: 300px;
  }
  .faq-item {
    border-bottom: 1px solid #dedede;
  }
  .faq-question {
    font-size: 19px;
  }
  .faq-answer {
    font-size: 15px;
  }
  
}
